*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.About {

margin-left: 280PX;
text-align: center;


}
.main{

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 660px;
    display: flex;
    margin: auto;
  justify-content: space-around;



   
}
.Shipping{
   margin-top: auto;
  text-align: center;
 background-color: antiquewhite;
  width: 300px;
  height: 300px;
 


}
.button button  {

    
    background-color: chocolate;
    text-align: center;

}
.button {

    text-align: center;

}
